html {
    padding: 12px;
}

@font-face {
    font-family: "comic";
    src: url(Fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

body {
    image-rendering: pixelated;
    background-size: 32px 32px;
    background-color: #000000;
    font-family: comic;
    color: #ffffff;
    margin: 24px;
}

.BioInfo {
    font-size: 16px;
}

.centerInfo {
    color: #ffffff;
    font-size: 8px;
}

.ImageBorder {
    width: 90%;
    padding: 12px;
    border-image: url("Image/Border.png") 16/16px/0 repeat;
    background-color: #000000;
    image-rendering: pixelated;
}

center {
    font-size: 24px;
}

p {
    font-size: 10px;
}

