html {
    padding: 12px;
    font-size: 8px;
    text-rendering:initial
}

@font-face {
    font-family: "comic";
    src: url(Fonts/Press_Start_2P/PressStart2P-Regular.ttf);
    ;
}

body {
    image-rendering: pixelated;
    background-size: 32px 32px;
    background-color: #000000;
    font-family: comic;
    color: #ffffff;
    margin: 24px;
}

.PageName {
    padding-left: 4px;
    padding-right: 4px;
}

.centerInfo {
    color: #ffffff;
    font-size: 4px;
    line-height: 16px;
}

.ImageBorder {
    width: 100%;
    padding: 4px;
    border-image: url("Image/Border.png") 16/12px/0 repeat;
    background-color: #000000;
    image-rendering: pixelated;
}

center {
    font-size: 14px;
}

p {
    font-size: 10px;
}

